@model IEnumerable< RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create" class="btn btn-primary"> Add new Role</a>
<br />


<form class="row offset-2 col-12" asp-action="index">
    <div class="col-8">
        <input class="form-control" type="text" name="SearchValue" placeholder="Role Name" />
    </div>
    <div col-4>
        <input type="Submit" class="btn btn-info" value="search" />
    </div>

</form>
<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(U => U.Id)</td>
                <td>@Html.DisplayNameFor(U => U.RoleName)</td>
             
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var Role in Model)
                {
                    <tr>
                        <td>@Role.Id</td>
                        <td>@Role.RoleName</td>
                        <partial name="_ButtonsPartialView" model="@Role.Id"    />
                   
                    </tr>

                }
            }

        </tbody>
    </table>
}
else
{
    <div>
        <h1>There Is No Roles</h1>
    </div>
}
